---
// Footer.astro
---

<footer class="footer">
    <div class="footer-content">
        <img src="/signature.svg" width="200px" alt="">
        <small>Firma del Doctor Agustin Marchetti</small>
        <img src="/RECURSOS02.svg" width="300px" alt="logo de somos provincias unidas"/>
        <div class="footer-small">
            <small>&copy; {new Date().getFullYear()} Somos Provincias Unidas. Todos los derechos reservados.</small>
            <small>Todos los derechos reservados.</small>
        </div>
    </div>
</footer>

<style>
.footer {
    padding: 2rem 0;
    width: 100%;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:20px;
}
.footer-content h2 {
    margin-bottom: 1rem;
}
.footer-content p {
    max-width: 400px;
    margin-bottom: 1rem;
}
.footer-social {
    margin-bottom: 1rem;
}
.footer-social a {
    margin: 0 0.5rem;
    text-decoration: underline;
}

.footer-small{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}


@media (max-width: 767.98px) {
    .footer{
        background-color: white;
        padding: 20px 0px;
        border-radius: 10px;
        margin-bottom: 3rem;
        gap: 2rem;
        box-shadow: 0px 0px 10px var(--c1);

    }

    .footer-content{
        padding: 20px;
    }
}
</style>